<section id="schedule" class="section-with-bg">
  <div class="container wow fadeInUp">
    <div class="section-header">




      <h2>Event Schedule</h2>
    </div>

    <div class="alert " role="alert"
      style=" width: fit-content; margin: auto;  background-color: rgba(0, 255, 255, 0.056); color: #ffc107bd; font-size: large">
      <h4 class="alert-heading" style="text-align: center;">UPDATE !</h4>
      <hr>
      <ul>
        <li> Cricket tournament will start form 27 March onwards. </li>
        <li> Vollyball and Badminton matches will start form 1<sup>st</sup> of April.</li>
        <li> And basket, futsal and kabbadi matches will be held on 3 and 5 April.</li>
        <li> Chess competition will start from 5<sup>th</sup> April.
        </li>

      </ul>
      <!-- <p class="mb-0">you can contact the event coordinator for more details.</p> -->
    </div>

    <ul class="nav nav-tabs" role="tablist" style="margin-top: 5vh;">
      <li class="nav-item">
        <a class="nav-link active" href="#day-1" role="tab" data-toggle="tab">Day 1<h6>6 April</h6></a>

      </li>
      <li class="nav-item">
        <a class="nav-link" href="#day-2" role="tab" data-toggle="tab">Day 2 <h6>7 April</h6></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#day-3" role="tab" data-toggle="tab">Day 3<h6>8 April</h6></a>
      </li>
    </ul>

    <h3 class="sub-heading">didn't added sports yet!!!!!!!!!!</h3>

    <div class="tab-content row justify-content-center">

      <!-- Schdule Day 1 -->
      <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">

        <div class="row schedule-item">
          <div class="col-md-2"><time>7:00 - 11:00 AM & 3:00 - 7:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="https://i.ibb.co/4FcRG19/4.png" alt="sports events">
            </div>
            <h4>Cricket</h4>
            <p>27-29 &31 March, 01,03,05 April, 7:00-11:00 AM & 3:00-7:00 PM at OCT ground.
            </p>
          </div>
        </div>



        <!-- <div class="row schedule-item">
          <div class="col-md-2"><time>updating..</time></div>
          <div class="col-md-10">
            <div class="speaker">
<img src="https://i.ibb.co/4FcRG19/4.png" alt="sports events" >
 </div>
            <h4>Volleyball </h4>
            <p>1st ,3rd and 5th April,venue - at Volleyball court.</p>
          </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>updating..</time></div>
          <div class="col-md-10">
            <div class="speaker">
<img src="https://i.ibb.co/4FcRG19/4.png" alt="sports events" >
 </div>
            <h4>Badminton.</h4>
            <p>1st ,3rd and 5th April, venue - at Badminton court.</p>
          </div>
        </div>
        
        <div class="row schedule-item">
          <div class="col-md-2"><time>updating..</time></div>
          <div class="col-md-10">
            <div class="speaker">
<img src="https://i.ibb.co/4FcRG19/4.png" alt="sports events" >
 </div>
            <h4>Basketball </h4>
            <p>3rd and 5th April, at basketball court.</p>
          </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>updating..</time></div>
          <div class="col-md-10">
            <div class="speaker">
<img src="https://i.ibb.co/4FcRG19/4.png" alt="sports events" >
  </div>
            <h4>Futsal </h4>
            <p>3rd and 5th April, venue - School Groud.</p>
          </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>updating..</time></div>
          <div class="col-md-10">
            <div class="speaker">
<img src="https://i.ibb.co/4FcRG19/4.png" alt="sports events" >
</div>
            <h4>Kabbadi </h4>
            <p>3rd and 5th April, venue - OCT Groud</p>
          </div>
        </div>

        
        <div class="row schedule-item">
          <div class="col-md-2"><time>updating..</time></div>
          <div class="col-md-10">
            <div class="speaker">
             
<img src="https://i.ibb.co/4FcRG19/4.png" alt="sports events" >
 </div>
            <h4>Chess</h4>
            <p>venue- (108)TB-1/D1.</p>
          </div>
        </div> -->

        <div class="row schedule-item">
          <div class="col-md-2"><time>11:00 AM - 02:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="https://i.ibb.co/M1Szhgh/1.png" alt="technical events">
            </div>
            <h4>Lensense & Photography Workshop cum Contest
            </h4>
            <p>venue - Idea lab.</p>
          </div>
        </div>


        <div class="row schedule-item">
          <div class="col-md-2"><time>11:00 AM - 03:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="https://i.ibb.co/zZLfFrt/2.png" alt="cultural events">
            </div>
            <h4>Face Painting </h4>
            <p>venue - BS Foyer.</p>
          </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>11:00 AM - 03:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="https://i.ibb.co/zZLfFrt/2.png" alt="cultural events">
            </div>
            <h4>Admad Show</h4>
            <p>venue - CE seminar hall</p>
          </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>11:00 AM - 03:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="https://i.ibb.co/0D8p9Qt/3.png" alt="mega events">
            </div>
            <h4>Talent Star Light - Dance, Singing, Acting, Instrumental, Poetry, Mime and Band show.</h4>
            <p>venue - oist auditorium.</p>
          </div>
        </div>
        <div class="row schedule-item">
          <div class="col-md-2"><time>11:00 AM - 04:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="https://i.ibb.co/M1Szhgh/1.png" alt="technical events">
            </div>
            <h4>Assemble Disassemble.</h4>
            <p>venue - TB2, C-4 & C-7.</p>
          </div>
        </div>
        <div class="row schedule-item">
          <div class="col-md-2"><time>11:00 AM - 04:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="https://i.ibb.co/M1Szhgh/1.png" alt="technical events">
            </div>
            <h4>Project Presentation & Mega Structure Show.</h4>
            <p>venue - LT-2 (EX),D1,SAC.</p>
          </div>
        </div>
        <div class="row schedule-item">
          <div class="col-md-2"><time>11:00 AM - 04:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">

              <img src="https://i.ibb.co/M1Szhgh/1.png" alt="technical events">
            </div>
            <h4>Circuit Designing.</h4>
            <p>venue -EC Seminar Hall.</p>
          </div>
        </div>
        <div class="row schedule-item">
          <div class="col-md-2"><time>11:00 AM - 05:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">

              <img src="https://i.ibb.co/0D8p9Qt/3.png" alt="mega events">
            </div>
            <h4>Auto Expo.</h4>
            <p>venue - NCC Ground.</p>
          </div>
        </div>
        <div class="row schedule-item">
          <div class="col-md-2"><time>12:00 AM - 04:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="https://i.ibb.co/0D8p9Qt/3.png" alt="mega events">
            </div>
            <h4>Roadies Battle Yard & Stunt Show.</h4>
            <p>venue - LT-1 & OCT Ground/Road.</p>
          </div>
        </div>
        <div class="row schedule-item">
          <div class="col-md-2"><time>03:00 PM - 06:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="https://i.ibb.co/0D8p9Qt/3.png" alt="mega events">
            </div>
            <h4>Traditional Fashion Show.</h4>
            <p>venue - oist auditorium.</p>
          </div>
        </div>
        <div class="row schedule-item">
          <div class="col-md-2"><time>updating..</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="https://i.ibb.co/M1Szhgh/1.png" alt="technical events">
            </div>
            <h4>Robodino Competition.</h4>
            <p>venue - Open Area In front of Central Library & R.no 001,002 TB -1(Dark Room).</p>
          </div>
        </div>
        <div class="row schedule-item">
          <div class="col-md-2"><time>updating..</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="https://i.ibb.co/M1Szhgh/1.png" alt="technical events">
            </div>
            <h4>LAN Gaming.</h4>
            <p>venue - HP-Lab 1-2 & 108 TB-1,VLSI LAB.</p>
          </div>
        </div>


      </div>
      <!-- Start Schdule Day 2 -->
      <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-2">
        <div class="row schedule-item">
          <div class="col-md-2"><time>10:00 AM - 06:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="https://i.ibb.co/0D8p9Qt/3.png" alt="mega events">
            </div>
            <h4>Talent Star Light- Singing, Dancing, Acting, Instrumental, Poetry, Mime and BandShow.</h4>
            <p>venue - oist auditorium.</p>
          </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>11:00 AM - 03:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="https://i.ibb.co/M1Szhgh/1.png" alt="technical events">
            </div>
            <h4>Code Hunt.</h4>
            <p>venue - Dell Lab.</p>
          </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>11:00 AM - 03:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="https://i.ibb.co/M1Szhgh/1.png" alt="technical events">
            </div>
            <h4>Paper Presentation.</h4>
            <p>venue - AU Seminar Hall.</p>
          </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>11:00 AM - 03:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="https://i.ibb.co/zZLfFrt/2.png" alt="cultural events">
            </div>
            <h4>Extempore.</h4>
            <p>venue - CE Seminar Hall.</p>
          </div>
        </div>
        <div class="row schedule-item">
          <div class="col-md-2"><time>11:00 AM - 04:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="https://i.ibb.co/M1Szhgh/1.png" alt="technical events">
            </div>
            <h4>Assemble Disassemble.</h4>
            <p>venue - C-4 & C-7 [11:00-04:00].</p>
          </div>
        </div>
        <div class="row schedule-item">
          <div class="col-md-2"><time>11:00 AM - 04:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="https://i.ibb.co/M1Szhgh/1.png" alt="technical events">
            </div>
            <h4>Project Presentation & Mega Structure Show.</h4>
            <p>venue -LT-2 (EX),D1,SAC.</p>
          </div>
        </div>
        <div class="row schedule-item">
          <div class="col-md-2"><time>11:00 AM - 04:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="https://i.ibb.co/M1Szhgh/1.png" alt="technical events">
            </div>
            <h4>Art-Junkies.</h4>
            <p>venue -30 (TB-1).</p>
          </div>
        </div>
        <div class="row schedule-item">
          <div class="col-md-2"><time>11:00 AM - 04:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="https://i.ibb.co/zZLfFrt/2.png" alt="cultural events">
            </div>
            <h4>Mock Parliament.</h4>
            <p>venue - OCM Seminar Hall.</p>
          </div>
        </div>
        <div class="row schedule-item">
          <div class="col-md-2"><time>11:00 AM - 05:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="https://i.ibb.co/0D8p9Qt/3.png" alt="mega events">
            </div>
            <h4>Auto Expo.</h4>
            <p>venue - NCC Ground.</p>
          </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>11:00 AM - 05:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="https://i.ibb.co/M1Szhgh/1.png" alt="technical events">
            </div>
            <h4>100 Rs Venture.</h4>
            <p>venue - IDEA Lab and Nearby area.</p>
          </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>12:00 AM - 04:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="https://i.ibb.co/0D8p9Qt/3.png" alt="mega events">
            </div>
            <h4>Roadies Battle Yard & Stunt Show.</h4>
            <p>venue - OCT Road.</p>
          </div>
        </div>
        <div class="row schedule-item">
          <div class="col-md-2"><time>04:00 PM - 06:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="https://i.ibb.co/0D8p9Qt/3.png" alt="mega events">
            </div>
            <h4>Traditional Fashion Show.</h4>
            <p>venue - oist auditorium.</p>
          </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>06:00 PM - 10:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="https://i.ibb.co/0D8p9Qt/3.png" alt="mega events">
            </div>
            <h4>Fiesta Evening.</h4>
            <p>venue - oist auditorium.</p>
          </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>updating..</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="https://i.ibb.co/M1Szhgh/1.png" alt="technical events">
            </div>
            <h4>LAN Gaming.</h4>
            <p>venue - HP-Lab 1-2 & 108 TB-1,VLSI LAB.</p>
          </div>
        </div>

      </div>
      <!-- End Schdule Day 2 -->

      <!-- Schdule Day 3 -->
      <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-3">



        <div class="row schedule-item">
          <div class="col-md-2"><time>10:00 AM - 12:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="https://i.ibb.co/0D8p9Qt/3.png" alt="mega events">
            </div>
            <h4>Water Rocket Propulsion.</h4>
            <p>venue - OCT Groud.</p>
          </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>10:00 AM - 12:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="https://i.ibb.co/zZLfFrt/2.png" alt="cultural events">
            </div>
            <h4>Mega Workshop/Lecture Series.</h4>
            <p>venue - oist auditorium.</p>
          </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>12:00 PM - 2:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="https://i.ibb.co/0D8p9Qt/3.png" alt="mega events">
            </div>
            <h4>Talent Star Light - Singing, Dancing, Acting, Instrumental, Poetry, Mime and BandShow.</h4>
            <p>venue - oist auditorium.</p>
          </div>
        </div>

      </div>
      <!-- End Schdule Day 3 -->

    </div>

  </div>

</section>