<main>
  <section id="intro">
    <div class="intro-container wow fadeIn">
      <!-- <img style="object-fit: cover;
      border-radius: 60%;
      box-shadow: 1px 1px 12px 10px white;"
        src="https://i.ibb.co/WfGjFTn/240016106-349321013549047-1696668530386214491-n-removebg-preview.png" 
        alt=""> -->
      <img src="https://i.ibb.co/N2Ychjc/Final-Logo-Tech-Acme-removebg-preview.png" alt="">

      <h1 style=" 
        color: #72a8ff; font-family:Monoton; font-weight: 400;
    ">Oist Presents<br _ngcontent-reg-c56=""><span style="color: #ff8eed; ">Tech</span> <span style="
        color: #d084f5;
    ">Acme</span> 2k23</h1>
      <p class="mb-4 pb-0"> 6-8 April, Oriental Institute Of Science And Technology, Bhopal</p>
      <a href="https://www.facebook.com/reel/6205660156121319" class="venobox play-btn mb-4" data-vbtype="video"
        data-autoplay="true"></a>
      <a href="#about" class="about-btn scrollto">Click Below To Register</a>
    </div>
  </section>
  <div style="--glow-color: hsl(186 100% 69%); text-align: center; max-width: 80vw; margin: auto; ">
  <button class='glowing-btn'><span class='glowing-txt' routerLink="buy-tickets">Re<span class='faulty-letter'>gister</span> Now!</span></button></div>
  <app-schedule></app-schedule>
  <app-events></app-events>
  <app-sponsors></app-sponsors>
  <app-faq></app-faq>
  <div class="section-header" id="venue">
    <h2>Event Venue</h2>
    <p class="mb-4 pb-0">Oriental Institute Of Science And Technology, Raisen Rd, opp. Patel Nagar, Patel Nagar, Bhopal,
      Madhya Pradesh 462022</p>
  </div>
  <div  class=" venue-map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3665.8474768268848!2d77.50004501489492!3d23.24863668483905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397c41e4394f4f87%3A0xb3bba34206ce5dec!2sOriental%20Institute%20of%20Science%20%26%20Technology%20-%20Top%20Engineering%20Colleges%20in%20Bhopal!5e0!3m2!1sen!2sin!4v1676997430786!5m2!1sen!2sin"
      frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div class="footer container">
    <h2 class="mb-4 pb-0">
      BlackR Industries © 
    </h2>
    <h6 class="mb-4 pb-0">
      contact - <a style="font-size: initial;" href="https://blackrindustries.weebly.com/">https://blackrindustries.weebly.com/</a>
    </h6>
    
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7689491302137996"
     crossorigin="anonymous"></script>
<!-- Just Display Ad unit -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7689491302137996"
     data-ad-slot="6806867723"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

  </div>
</main>